@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,700');

html {
	background: #f6f6f6;
}  /* По какой-то причине без этого свойства устанавливается при перезагрузке страницы белый фон. Если ctrl+f5 - тогда всё нормально отображается.*/

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    background-color: #f6f6f6;
    position: relative;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #0b0080;
}

.gradient {
	position: absolute;
    width: 100%;
	height: 80px;
	background: #fff url('../images/page-fade.png') repeat-x bottom left;
}

/*Левый бар с лого и основной навигацией сайта*/

aside {
    position: fixed;
    width: 160px;
    padding-left: 8px;
 }
.logo {
    display: block;
    width: 160px;
    height: 160px;
    background: url('../images/wikilogo.png') no-repeat 50% 50%;
}
aside nav {
	margin-left: 19px;
	padding: 4px 0px;
	color: #0645ad;
	margin-top: 6px;
}

aside nav h1 {
	padding: 4px 0px;
	font-size: 0.75em;
	color: #444444;
	background: url('../images/nav_hr.png') no-repeat bottom left;
}

aside nav ul {
	padding-top: 5px;
}

aside nav ul li{
	line-height: 1.125em;
	font-size: 0.75em;
	padding: 0.25em 0px;
}

.main-nav {
    margin-top: 16px;
}  /*устанавливает маргин только для первого nav благодаря обращению к нему через класс,что даёт более высокий "вес" для этого селектора*/

/*Блок с основным контентом и хедер страницы*/

.content {
	z-index: 10;
    width: 100%;
	margin-left: 180px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

/* Хедер страницы */

header ul li, header ul li a {
	line-height: 1.125em;
}

.personal ul {
	position: absolute;
	right: 1em;
	top: 0.6em;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.personal li {
	display: inline;
	font-size: 0.75em;
	color: #707070;
	margin-left: 9px;
	line-height: 1.6em;
}

i.fa {
	font-family: FontAwesome;
	margin-right: 5px;
	font-size: 1.14em;
}

.top-navigation {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.top-navigation ul {
	display: flex;
	flex-direction: row;	
}

.top-navigation ul li {
	background: url('../images/button_grad.png') repeat-x bottom left;
}

.top-navigation ul li.selected{
	background: #fff;
	bottom: -1px;
}

.top-navigation ul li.selected a, .top-navigation ul li.selected a:hover {
	color: #222;
	text-decoration: none;
}

.top-navigation ul li a {
	display: block;
	background: url('../images/li_vertical_grad.png') no-repeat bottom right;
	font-size: 0.8em;
	cursor: pointer;
	padding: 1.25em 0.625em 0.8em 0.625em;
}

.top-navigation ul li:first-child a {
	background: url('../images/li_vertical_grad.png') no-repeat bottom right,
		url('../images/li_vertical_grad.png') no-repeat bottom left;	
}

.right-nav {
	display: flex;
	flex-direction: row;
	margin-right: 16px;
}
.search {
	width: 20vw;
}

.search form {
	margin-top: 0.70em;
	margin-left: 6px;
	width: 100%;
	position: relative;
}

#searchInput {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #A8A8A8;
	padding: 0.2em 0;
	color: #555;
	background-color: #f9f9f9;
	background: linear-gradient(to top, #f9f9f9, #f1f1f1);
}

#searchButton {
	width: 20px;
	position: absolute;
	right: 1px;
	top: 0;
	height: 100%;
	cursor: pointer;
	border: none;
	background: url('../images/search.svg') no-repeat 50% 50%;
}

/* Основной контент */

main {
	background-color: #fff;
	border: 1px solid #a7d7f9;
	margin-top: -1px;
	padding: 24px;
	color: #222;
	font-size: 0.875em;
	line-height: 1.6em;
}

main p {
    margin: 6px 0px;
}

main ul li{
	list-style: decimal inside;
}

main ul li>ul {
	margin-left: 30px;
}

main h1, main h3 {
	font-family: 'EB Garamond', serif;
	font-weight: 400;

}

.anchor {
    width: 400px;
    background-color: #FCEAD6;
    border: 1px solid #E5DCC0;
    padding: 10px 30px;
    margin: 20px 0px;
}

.anchor h2{
    font-weight: 600;
    text-align: center;
}
main h1 {
    margin: 0.3em 0;
    font-size: 2.4em;
}

main h3 {
    margin: 0.3em 0;
    font-size: 1.8em;
}

main section .textbox {
	display:flex;
	flex-direction: row;
}

/* Блок краткой информации о биткоин */

.infobox {
	width: 280px;
	height: 100%;
	border: 1px solid #9D9D9D;
	margin-left: 20px;
	padding: 5px;
}

.infobox table {
	width: 280px;
	line-height: 1.6em;
	
}
.infobox table td{
    padding-left: 5px;
}
.infobox table th {
	background-color: #FAB686;
	line-height: 2em;
	font-weight: 600;
}

.infobox img {
	width: 100%;
	margin: 4px 0px;
}

.infobox table tr td:first-child {
	width: 40%;
	font-weight: 600;
    padding-right: 10px;
}

.infobox table tr:nth-child(n+3):nth-child(even){
	background-color: #F8F8F7;
}  /* Выбирает четные элементы,начиная с 3го и меняет цвет бэкграунда*/

.infobox table td{
	font-size: 0.9em;
}

/* Основная статья */

main .post-image {
    float: right;
    padding: 10px;
    width: 220px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #F2EDDA;
    border: 1px solid #E5DCC0;
}

main .post-image img {
    width: 220px;
    border: 1px solid #E5DCC0;

}

main .post-image p {
    font-size: 0.8em;
    line-height: 1.4em;
}
#working span {
    font-weight: 600;
    font-size: 1.2em;
}

/* Футер */

footer {
    padding: 30px 20px;
}

footer p, footer ul li a {
    line-height: 1.7em;
    font-size: 0.7em;
}

footer ul {
   display: flex;
   flex-direction: row;
}

footer ul li {
    margin-right: 10px;
}